{# sampleinventory: #}
{% set count = 1 %}
{% for item in csvfile.split("\n") %}
{%   if loop.index != 1 %}
{%     set list = item.split(",") %}
inventory{{count}}:
   patch_day{{count}}: '{{ list[0]|trim() }}'
   patch_grp{{count}}: '{{ list[1]|trim() }}'
   patch_ser{{count}}: '{{ list[2]|trim() }}'
{% set count = count + 1 %}
{%   endif %}
{% endfor %}
