---
serverinventory:
{% for item in csvfile.split("\n") %}
{%   if loop.index != 1 %}
{%     set list = item.split(",") %}
  - patching_day: '{{ list[0]|trim() }}'
    patching_group: '{{ list[1]|trim() }}'
    server: '{{ list[2]|trim() }}'
  
{%   endif %}
{% endfor %}
